@import url(_regular.scss);
body {
    h1 {
        font-family: 'Jost';
        color: white;
        text-align: center;
    }
    p {
        font-family: 'Jost';
        color: white;
        text-align: center;
    }
}


main {
    .block {
        width: 375px;
        height: 715px;
        .red{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 375px;
            height: 395px;

            .red__text{
                position: absolute;
                width: 375px;
                height: 395px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 25px;
                h1 {
                    font-family: 'Jost';
                    font-weight: 500;
                    line-height: 36px;
                    font-size: 32px;
                    text-align: center;
                    color: white;
                    height: 36px;
                    width: 327px;
                }
                p {
                    font-family: 'Jost';
                    display: flex;
                    color: white;
                    width: 327px;
                    height: 175px;
                }
            }
        }
        .pc {
            display: flex;
            height: 320px;

        }
    }



    .world {
        width: 375px;
        height: 865px;
        .women {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 375px;
            height: 320px;
            position: relative;
        }
        .test {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 375px;
            height: 545px;

            img {
                height: 545px;
            }

            .red__text{
                position: absolute;
                width: 375px;
                height: 545px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                h2 {
                    font-family: 'Jost';
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 36px;
                    text-align: center;
                    color: #e7816b;
                    width: 327px;
                    height: 36px;
                }
                p {
                    font-family: 'Jost';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    width: 327px;
                    height: 325px;
                    text-align: center;
                    display: flex;
                    color: #333136;
                }
            }
        }
    }



    .ville {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 100px;
        height: 1428px;
        width: 375px;
        .belgium {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 120px;
        }
        .australia {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .kingdom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .txt {
            color: #333136;
            margin-top: 48px;
            font-size: 20px;
        }
        .see {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 56px;
            width: 152px;
            background-color: #E7816B;
            color: #FFFFFF;
            margin-bottom: 32px;
            margin-top: 32px;
            border-radius: 8px;
            font-size: 15px;
            &:hover {
                cursor: pointer;
                background: #FFAD9B;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .trois {
        margin-bottom: 120px;
        width: 375px;
        margin-top: 150PX;
        .photo {
            display: flex;
            height: 320px;
            width: 375px;
            img {
                height: 320px;
            }
        }
        .real {
            align-items: center;
            height: 545px;
            position: relative;
            display: flex;
            justify-content: center;
          
            img {
                position: absolute;
                z-index: 5;
            }
            .test {
                
                position: absolute;
                z-index: 6;
                h3 {
                    font-family: 'Jost';
                    font-size: 32px;
                    color: #e7816b;
                    text-align: center;
                }
                p {
                    font-family: 'Jost';
                    text-align: center;
                    width: 300px;
                    font-size: 15px;
                    margin-top: 24px;
                    color: #333136;
                }
            }
        }
    }
}    


body { 
    @media (min-width: 768px) {
        .block {
            width: 689px;
            height: 632px;
            margin-bottom: 120px;
            .red{
                width: 100%;
                height: 312px; 
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 15px 15px;
                }
                .red__text{
                    width: 100%;
                    height: 100%;
                    gap : 32px;
                    h1 {
                        font-size: 48px;
                        line-height: 48px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 26px;
                        width: 573px;
                        height: auto;
                    }
                }
            }
            .pc {
                width: 689px;
                height: 320px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 15px 0 0; 
                }
            }
        }
        .world {
            width: 689px;
            height: 736px;
            .women {
                width: 100%;
                height: 320px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 15px 0 0;
                }
            }
            .test {
                width: 100%;
                height: 416px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 15px 15px;
                }
                .red__text{
                    height: 416px;
                    width: 100%;
                    h2 {
                        font-size: 40px;
                        line-height: 48px;
                        height: 48px; 
                        width: 572px;
                    }
                    p {
                       width: 572px; 
                       height: 208px;
                       font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    
        .ville {
            margin-bottom: 40px;
            gap: 80px;
            .see {
                margin-bottom: 0;
            }
        }

        .trois {
            margin-top: 0;
            width: 100%;
            height: 736px;
            .photo {
                width: 100%;
                height: 320px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 15px 0 0;
                }
            }
            .real {
                width: 100%;
                height: 416px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 15px 15px;
                }
                .test { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center; 
                    width: 100%;
                    h3 {
                        height: 48px;
                    }
                    p {
                       width: 572px;
                       margin-top: 0;

                    }
                }
            }
        }     
    }
    
    @media (min-width: 1440px) {
        .block {
            width: 1111px;
            height: 480px;
            display: flex;
            flex-direction: row-reverse;
            .red{
                height: 100%;
                width: 635px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 0 0 15px;
                }
            }
            .pc {
                height: 100%;
                width: 476px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 15px 15px 0;
                }
            }
        }
        .world {
            width: 1111px;
            display: flex;
            flex-direction: row;
            .women {
                height: 100%;
                width: 476px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 0 0 15px;
                }
            }
            .test {
                height: 100%;
                width: 635px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 15px 15px 0;
                }
                .red__text {
                    width: 445px;
                    h2 {
                        text-align: left;
                        width: 100%;
                    }
                    p {
                        text-align: left;
                        width: 100%;
                       
                    }
                }
            }
        }

        .ville {
            width: 1111px;
            height: 364px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 160px 0 160px 0;
            align-items: center;
            .belgium {
                margin-top: 0;
            }
        }

        .trois {
            width: 1111px;
            height: 640px;
            margin-bottom: 160px;
            display: flex;
            flex-direction: row-reverse;
            .photo {
                height: 100%;
                width: 477px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 15px 15px 0;
                }
            }
            .real {
                height: 100%;
                width: 634px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 0 0 15px;
                }
                .test {
            
                    h3 {
                        width: 445px;
                        text-align: left;
                    }
                    p {
                        width: 445px;
                        text-align: left;
                    }
                    
                }
            }

        }
    }  

}
