@import url(_regular.scss);
body {
    h1 {
        font-family: 'Jost';
        color: white;
        text-align: center;
    }
    p {
        font-family: 'Jost';
        color: white;
        text-align: center;
    }
}


main {
    .block {
        width: 375px;
        height: 715px;
        .red{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 375px;
            height: 395px;

            .red__text{
                position: absolute;
                width: 375px;
                height: 395px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 25px;
                h1 {
                    font-family: 'Jost';
                    font-weight: 500;
                    line-height: 36px;
                    font-size: 32px;
                    text-align: center;
                    color: white;
                    height: 36px;
                    width: 327px;
                }
                p {
                    font-family: 'Jost';
                    display: flex;
                    color: white;
                    width: 327px;
                    height: 175px;
                }
            }
        }
        .pc {
            display: flex;
            height: 320px;

        }
    }



    .world {
        width: 375px;
        height: 865px;
        .women {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 375px;
            height: 320px;
            position: relative;
        }
        .test {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 375px;
            height: 545px;

            img {
                height: 545px;
            }

            .red__text{
                position: absolute;
                width: 375px;
                height: 545px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                h2 {
                    font-family: 'Jost';
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 36px;
                    text-align: center;
                    color: #e7816b;
                    width: 327px;
                    height: 36px;
                }
                p {
                    font-family: 'Jost';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    width: 327px;
                    height: 325px;
                    text-align: center;
                    display: flex;
                    color: #333136;
                }
            }
        }
    }



    .ville {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 100px;
        height: 1428px;
        width: 375px;
        .belgium {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 120px;
        }
        .australia {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .kingdom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .txt {
            color: #333136;
            margin-top: 48px;
            font-size: 20px;
        }
        .see {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 56px;
            width: 152px;
            background-color: #E7816B;
            color: #FFFFFF;
            margin-bottom: 32px;
            margin-top: 32px;
            border-radius: 8px;
            font-size: 15px;
            &:hover {
                cursor: pointer;
                background: #FFAD9B;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .trois {
        margin-bottom: 120px;
        width: 375px;
        margin-top: 150PX;
        .photo {
            display: flex;
            height: 320px;
            width: 375px;
            img {
                height: 320px;
            }
        }
        .real {
            align-items: center;
            height: 545px;
            position: relative;
            display: flex;
            justify-content: center;
          
            img {
                position: absolute;
                z-index: 5;
            }
            .test {
                
                position: absolute;
                z-index: 6;
                h3 {
                    font-family: 'Jost';
                    font-size: 32px;
                    color: #e7816b;
                    text-align: center;
                }
                p {
                    font-family: 'Jost';
                    text-align: center;
                    width: 300px;
                    font-size: 15px;
                    margin-top: 24px;
                    color: #333136;
                }
            }
        }
    }
    


    
@media (min-width: 768px) {
    .block {
        .red{
            

            .red__text{
                h1 {
                }
                p {
                }
            }
        }
        .pc {

        }
    }



    .world {
        .women {
        }
        .test {

            img {
            }

            .red__text{
                h2 {
                    
                }
                p {
                    
                }
            }
        }
    }



    .ville {
        .belgium {
        }
        .australia {
        }
        .kingdom {
        }
        .txt {
        }
        .see {
            
            }
            a {
            }
        }
    }
    .trois {
        .photo {

            img {
            }
        }
        .real {
            a{

            }
          
            img {
                
            }
            .test {
                
                
                h3 {
                   
                }
                p {
                    
                }
            }
        }
    }

    @media (min-width: 1440px) {
        .block {
            width: 632px;
            .red{
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 632px;
                top: 96px;
                h1 {
                    font-family: 'Jost';
                    margin-top: 80px;
                    font-weight: 500;
                    line-height: 36px;
                    font-size: 32px;
                    text-align: center;
                    color: white;
                }
                p {
                    font-family: 'Jost';
                    margin-top: 24px;
                    display: flex;
                    color: white;
                }
            }
            .pc {
                display: flex;
                width: 632px;
            }
        }
        .world {
            width: 632px;
            .women {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 632px;
                position: relative;
            }
            .test {
                display: flex;
                h2 {
                    font-family: 'Jost';
                    margin-top: 80px;
                    display: flex;
                    position: absolute;
                    text-align: center;
                    color: #e7816b;
                }
                p {
                    font-family: 'Jost';
                    margin-top: 140px;
                    width: 632px;
                    text-align: center;
                    position: absolute;
                    display: flex;
                    color: #333136;
                }
            }
        }
    }
}
