main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__app__header {
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        .container__text {
            padding-top: 105px;
            position: absolute;
            text-align: center;
            h1{
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 24px;   
                }
            p {
                width: 327px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .container__img {
            width: 100%;
            height: 320px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section__app__frame {
        padding-top: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 375px;
        .container {
            width: 327px;
            margin: 0;
            height: 478px;
            .container__img {
                width: 100%;
                height: 320px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0px 0px;
                }  
            }
            .container__text {
                padding: 32px 0 32px 0;
                border-radius: 0 0 15px 15px;
                width: 327px;
                background: #FDF3F0;
                h2 {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: 5px;
                    color: #E7816B;  
                    margin-bottom: 16px;
                }
                p {
                    margin: 0 auto;
                    width: 267.21px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    color: #333136;  
                }
            }
        }
    }

    .section__app__design {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 96px 0 96px 0;
        .container {
            position: relative;
            .container__img {
                width: 100%;
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;  
                }
            }
            .container__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &--web {
                    position: absolute;
                    top: 100px;
                    right: 60px;
                    text-align: center;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF;
                        margin-bottom: 11.97px;  
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }
                }
                &--graphic {
                    position: absolute;
                    top: 100px;
                    right: 36.5px;
                    text-align: center;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF; 
                        margin-bottom: 11.97px; 
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }
                }
                
            } 
        }
    }
}

body {
    @media (min-width: 768px) {
        .section__app__header {
            width: 689px; 
            height: 282px;
            border-radius: 15px;
            .container__text {
                width: 573px;
                padding-top: 75px;
                h1 {
                    font-size: 48px;
                    line-height: 48px;
                    margin-bottom: 25px;
                }
                p {
                    width: 445px;
                    text-align: center;
                    margin-right: 0;
                    font-size: 16px;
                    line-height: 26px;
                    margin: 0 auto;
                }
            }
        }
        .section__app__frame {
            width: 689px;
            padding: 120px 0 120px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            .container {
                width: 689px;
                display: flex;
                flex-direction: row;
                height: 310px;
                .container__img {
                    width: 50%;
                    height: 310px;
                    img {
                        border-radius: 0 0 015px;
                    }
                }
                .container__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 310px;
                    padding: 0;
                    border-radius: 15px;
                }
            }
        }

        .section__app__icons {
            width: 689px;
            padding: 0;
            article {
                height: 202px;
                padding: 0;
                margin-bottom: 32px;
                display: flex;
                flex-direction: row;
                gap: 48px; 
                .container__img {
                    margin: 0;
                    padding: 0;
                }
                .container__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 439px;
                    h3 {
                        margin-bottom: 16px;
                        text-align: left;
                    }
                    p {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

    @media (min-width: 1440px) {
        .section__app__frame {
            width: 1111px;
            display: flex;
            flex-direction: row;
            border-radius: 15px;
        }

        .section__app__icons {
            min-width: 1111px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 500px;
                .container__text {
                    p{
                        width: 350px;
                        text-align: center;
                    }
                }
            }
        }
    }

}
