@import '_variables.scss';

body{

    .main-contact{

        .main__container{
            width: $WidthMob;

            .main__form{
                display: flex;
                z-index: 4;
                height: 764px;
                overflow: hidden;
                border-radius: 15px;   

                .main__form-container{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: $WidthMob;
                    color: #fff;
                    justify-content: space-evenly;
                    height: 764px;
                    align-items: center;
                    row-gap: 32px;

                    .main__title{
                        width: $WidthContainer;
                        text-align: center;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 36px;
                        margin-top: 40px;
                    }
                    .main__text{
                        width: $WidthContainer;
                        text-align: center;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                    }

                    .main__formulaire{
                        display: flex;
                        flex-direction: column;
                        row-gap: 25px;
                        .main__form-label{
                            width: 290px;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 26px;
                            font-style: normal;
                        }
                        .main__form-button{
                            width: $WidthContainer;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid white;
                            width: $WidthContainer;
                            &:hover {
                                background-color:#FFAD9B;
                                border: none;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                    .main__formulaire :last-child{
                        background-color: white;
                        width: 152px;
                        height: 56px;
                        border-radius: 8px;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin: 20px 0 40px 0;
                        align-self: center;
                    }
                    .main__formulaire :nth-child(8){
                        height: 60px;
                        
                    }
                }

                .main__img{
                    color: white;
                }
            
            }

            .main__link{
                width: $WidthMob;
                height: 1428px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .main__link-button{
                    width: 350px;
                    height: 364px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .main__link-button_img{
                        width: 202px;
                        height: 202px;
                    }
                    .main__link-button_name{
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 26px;
                        letter-spacing: 5px;
                        text-transform: uppercase;
                    }

                    .main__link-button_button{
                        background-color: #E7816B;
                        color: white;
                        width: 152px;
                        height: 56px;
                        border-radius: 8px;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-align: center;
                        border: none;
                        &:hover {
                            background-color: #FFAD9B;
                            cursor: pointer;
                        
                        }
                    }
                }

            }
        }
    }

    

    .foot-contact{
        height: 626px;
        background-color: #1D1C1E;

        .foot__container{
            @extend .foot-contact;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .foot__contact{
                width: $WidthMob;
                height: 379px;
                display: none;

                .foot__contact-bg{
                    height: 50%;
                }
                .foot__contact-project{
                    width: $WidthContainer;
                    height: 379px;
                    position: relative;
                    left: 24px;
                    top: -100%;
                    background-color: #1D1C1E;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;

                    .foot__contact-project-img{
                        background-color: #1D1C1E;
                        border-radius: 15px;
                    }
                    .foot__project{
                        width: 279px;
                        height: 100%;
                        

                        .foot__project-text{
                            background-color: transparent;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 32px;
                            
                            .foot__title{
                                background-color: transparent;
                                font-size: 32px;
                                font-weight: 500;
                                line-height: 36px;
                            }
                            .foot__text{
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 25px;
                            }
                        }
                        .foot__button{
                            background-color: #fff;
                            width: 152px;
                            height: 56px;
                            border-radius: 8px;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            border: none;
                        }
                    }
                }
            }
            .foot__contact :first-child{
                background-color: white;
            }

            .foot__logo{
                width: 197px;
                height: 27px;
                display: flex;
                justify-content: center;
                gap: 16px;
                margin-top: 50px;
            }

            .foot__bar{
                width: $WidthContainer;
                border: 1px solid white;
                opacity: 0.1;
            }

            .foot__nav{
                width: $WidthMob;
                height: 106px;
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 2px;

                .foot__list{
                    height: 106px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    
                    .foot__sublist{
                        
                        a{
                            text-decoration: none;
                            color: white;
                            &:hover{
                                text-decoration-line: underline;
                            }
                        }
                    }
                }
            }
            .foot__adress{
                width: $WidthContainer;
                text-align: center;
                opacity: 0.5;
            }
            .foot__contact_us{
                width: $WidthContainer;
                text-align: center;
                opacity: 0.5;
            }
            .foot__list-social{
                width: 183px;
                height: 90px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .foot__sublist-social{
                    width: 24px;
                    height: 24px;
                    
                    .fa-brands{
                        color: #E7816B;
                    }
                }

                
            }
        }
    }
    @import '_contact-tab.scss';
    @import '_contact-desk.scss';
}