@import '_variables.scss';

body{

    .foot{
        height: 1005px;
        background-color: #1D1C1E;

        .foot__container{
            @extend .foot;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .foot__contact{
                width: $WidthMob;
                height: 379px;

                .foot__contact-bg{
                    height: 50%;
                }
                .foot__contact-project{
                    width: $WidthContainer;
                    height: 379px;
                    position: relative;
                    left: 24px;
                    top: -100%;
                    background-color: #1D1C1E;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;

                    .foot__contact-project-img{
                        background-color: #1D1C1E;
                        border-radius: 15px;
                    }
                    .foot__project{
                        width: 279px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 32px;

                        .foot__title{
                            background-color: transparent;
                            font-size: 32px;
                            font-weight: 500;
                            line-height: 36px;
                        }
                        .foot__text{
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 25px;
                        }
                        .foot__button{
                            background-color: #fff;
                            width: 152px;
                            height: 56px;
                            border-radius: 8px;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            border: none;
                        }
                    }
                }
            }
            .foot__contact :first-child{
                background-color: white;
            }

            .foot__logo{
                width: 197px;
                height: 27px;
                display: flex;
                justify-content: center;
                gap: 16px;
            }

            .foot__bar{
                width: $WidthContainer;
                border: 1px solid white;
                opacity: 0.1;
            }

            .foot__nav{
                width: $WidthMob;
                height: 106px;
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 2px;

                .foot__list{
                    height: 106px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    
                    .foot__sublist{
                        
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
            .foot__adress{
                width: $WidthContainer;
                text-align: center;
                opacity: 0.5;
            }
            .foot__contact_us{
                width: $WidthContainer;
                text-align: center;
                opacity: 0.5;
            }
            .foot__list-social{
                width: 183px;
                height: 90px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .foot__sublist-social{
                    width: 24px;
                    height: 24px;
                    
                    .fa-brands{
                        color: #E7816B;
                    }
                }

                
            }
        }
    }

    @import '_footer-tab.scss';

    @import '_footer-desk.scss';
}

