@import '_variables.scss';

body{

.head{
     width: 375px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .head__logo{
        width: 200px;
        display: flex;
        justify-content: space-between;
        justify-self: start;
    }

    .head__menu{

        .head__submenu{
            border: 4px solid #1D1C1E;
            width: 24px;
            height: 12px;
            border-left: none;
            border-right: none;
            display: flex;
            align-items: center;
            gap: 4px;

            .head__submenu-bis{
                @extend .head__submenu;
                border: 2px solid #1D1C1E;
                height: 0;
            }
        }
    }

    .head__nav{
        width: 375px;
        height: 235px;
        font-size: 24px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #1D1C1E;
        position: absolute;
        left: auto;
        top: 96px;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 5;

        .head__list{
            height: 125px;
            width: 327px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .head__sublist{
                
                .head__link{
                color: white;    
                text-decoration: none;
                }
            }
        }
    }
    .head__burger{
        width: 30px;
        height: 30px;
        opacity: 0;
        position: absolute;
        right: 32px;
    }

    .head__burger:checked~.head__nav{
        display: flex;
    }
    .head__burger:checked+.head__menu{
        visibility: hidden;
    }
    .head__burger:checked{
        opacity: 1;
        
    }

    
}

@import '_header-tab.scss';
@import '_header-desk.scss';

    

}