.rectangle-home{
    display: none;
 }
 .rectanglebis-home{
    display: none;
 }
 main{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__home__header {
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container__text {
            position: absolute;
            width: 327px;
            text-align: center;
            padding-top: 80px;
            h1{
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 20px;   
                }
            p {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
            button {
                background: #FFFFFF;
                border-radius: 8px;
                border: none;
                width: 152px;
                height: 56px;
                padding: 0;
                &:hover {
                    background: #FFAD9B;
                }
                a {
                    width: 100%;
                    padding: 15px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: 1px;
                    color: #333136;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        .container__img {
            width: 100%;
            height: 843px;
            background-image: url("src/images/Oval.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .section__home__design {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-top: 120px;
        .container--web {
            width: 327px;
            height: 250px;
            a {
               text-decoration: none;
            }
            .container__img {  
                height: 100%;
                background-image: url("src/images/index_design/Bitmap_7.png");
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                .container__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF;
                        opacity: 1;
                        margin-bottom: 11.97px;  
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        opacity: 1;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                            opacity: 1;
                        }
                    }
                    &:hover {
                        background-color: #E7816B;
                        opacity: 0.8;
    
                        h2,h3{
                            opacity: 1;

                            span{
                                opacity: 1;
                            }
                        }
                    }
                }
                
            }
            
        }    
        .container--app {
            width: 327px;
            height: 250px;
            a {
                text-decoration: none;
            }
            .container__img {
                height: 100%;
                background-image: url("src/images/index_design/Bitmap_8.png");
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                .container__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF;
                        margin-bottom: 11.97px;  
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }
                    &:hover{
                        background-color: #E7816B;
                        opacity: 0.8;
                        h2, h3 {
                            color: #FFFFFF;
                        }
                    }
                    
                }
                
            }
        }

        .container--graphic {
            width: 327px;
            height: 250px;
            a {
                text-decoration: none;
            }
            .container__img {
                height: 100%;
                background-image: url("src/images/index_design/Bitmap_9.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                .container__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    &:hover{
                        background-color: #E7816B;
                        opacity: 0.8;
                        h2, h3 {
                            color: white;
                        }
                    }
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF;
                        margin-bottom: 11.97px;  
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }

                }
          
            }
        }
        
    }

    .section__home__icons{
        padding-top: 120px;
        width: 375px;
        article {
            padding-bottom: 80px;
            .container__img{
                margin: 0 auto;
                width: 202px;
                height: 202px;
                padding-bottom: 48px; 
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover; 
                }  
            }
            .container__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 5px;
                    color: #333136;
                    margin-bottom: 32px;
                }
                p {
                    width: 327px;
                    height: 104px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #333136;
                    text-align: center;
                }
            }
        } 
    }
}

body {
    @media (min-width: 768px) {
        .rectangle-home{
            display: none;
         }
         .rectanglebis-home{
            display: none;
         }
        .section__home__header {
            width: 689px; 
            .container__text {
                width: 573px;
                padding-top: 60px;
                h1 {
                    font-size: 48px;
                    line-height: 48px;
                    margin-bottom: 25px;
                }
                p {
                    width: 445px;
                    text-align: center;
                    margin-right: 0;
                    font-size: 16px;
                    line-height: 26px;
                    margin: 0 auto;
                    margin-bottom: 19px;
                }
            }
            .container__img {
                width: 100%;
                height: 843px;
                background-image: url("src/images/Oval.png");
                background-repeat: no-repeat;
            
            }
        }

        .section__home__design {
            width: 689px;
            padding: 120px 0 120px 0;
            .container--web {
                width: 689px;
                height: 200px;
                .container__img {
                    background-image: url("src/images/index_design/Bitmap_4.png");
                    background-repeat: no-repeat;
                    .container__text {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                            letter-spacing: 2px;
                            margin-bottom: 24px;  
                        }
                    }
                }
            }

            .container--app {
                width: 689px;
                height: 200px;
                .container__img {
                    background-image: url("src/images/index_design/Bitmap_5.png");
                    background-repeat: no-repeat;
                    .container__text {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                            letter-spacing: 2px;
                            margin-bottom: 24px;  
                        }
                    }
                }
            }

            .container--graphic {
                width: 689px;
                height: 200px;
                .container__img {
                    background-image: url("src/images/index_design/Bitmap_6.png");
                    background-repeat: no-repeat;
                    .container__text {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                            letter-spacing: 2px;
                            margin-bottom: 24px;  
                        }
                    }
                }
            }
        }

        .section__home__icons {
            width: 689px;
            padding: 0;
            article {
                height: 202px;
                padding: 0;
                margin-bottom: 32px;
                display: flex;
                flex-direction: row;
                gap: 48px;
                &#article_end {
                    margin-bottom: 67px;
                } 
                .container__img {
                    margin: 0;
                    padding: 0;
                }
                .container__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 439px;
                    h3 {
                        margin-bottom: 16px;
                    }
                    p {
                        width: 100%;
                        text-align: left;
                        height: 78px;
                    }
                }
            }
        }
    }

    @media (min-width: 1440px) {
        .rectangle-home{
            display: block;
            position: absolute;
            left: -40px;
            top: 345px;
            z-index: 1;
         }
         .rectanglebis-home{
            display: block;
            position: absolute;
            right: 0;
            bottom: -1500px;
            z-index: 1;
         }
        .section__home__header {
            width: 1111px;
            display: flex;
            flex-direction: row;
            align-items: left;
            .container__text {
                padding: 0;
                margin-left: 95px;
                text-align: left;
                h1 {
                    text-align: left;
                    margin-bottom: 35px;
                }
                p{
                    margin: 0;
                    margin-bottom: 40px;
                    text-align: left;
                }
            }
            .container__img {
                width: 100%;
                height: 640px;
                background-image: url("src/images/header.png");
                background-repeat: no-repeat;
            }
        }

        .section__home__design {
            width: 1111px;
            padding: 160px 0 160px 0;
            display: grid;
            grid-template-areas: 
                'web app'
                'web graphic';
            row-gap: 24px;
            column-gap: 30px;
            .container--web {
                grid-area: web;
                width: 541px;
                height: 640px;
                .container__img {
                    background-image: url("src/images/index_design/Bitmap_1.png");
                    background-repeat: no-repeat;
                    .container__text {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                            letter-spacing: 2px;
                            margin-bottom: 24px;  
                        }
                    }
                }
            } 
            .container--app {
                grid-area: app;
                width: 541px;
                height: 308px;
                .container__img {
                    background-image: url("src/images/index_design/Bitmap_2.png");
                    background-repeat: no-repeat;
                    .container__text {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                            letter-spacing: 2px;
                            margin-bottom: 24px;  
                        }
                    }
                }
            }
            .container--graphic {
                grid-area: graphic;
                width: 541px;
                height: 308px;
                .container__img {
                    background-image: url("src/images/index_design/Bitmap_3.png");
                    background-repeat: no-repeat;
                    .container__text {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                            letter-spacing: 2px;
                            margin-bottom: 24px;  
                        }
                    }
                }
            }

                
        }

        .section__home__icons {
            min-width: 1111px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 350px;
                height: 500px;
                .container__text {
                    display: flex;
                    align-items: center;
                    h3 {
                        margin-bottom: 32px;
                    }
                    p{
                        width: 350px;
                        text-align: center;
                    }
                }
            }
        }
    }

}

  