 

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__frame {
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container__text {
            position: absolute;
            width: 327px;
            text-align: center;
            h1{
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 14px;   
                }
            p {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
            button {
                background: #FFFFFF;
                border-radius: 8px;
                border: none;
                width: 152px;
                height: 56px;
                padding: 0;
                a {
                    width: 100%;
                    padding: 15px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: 1px;
                    color: #333136;
                    text-decoration: none;
                }
            }
        }
        .container__img {
            width: 100%;
            height: 843px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .section__design {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-top: 120px;
        .container {
            position: relative;
            .container__img {
                width: 100%;
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;  
                    &.desktop {
                        display: none;
                    }
                    &.tablet {
                        display: none;
                    }
                }
            }
            .container__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &--web {
                    position: absolute;
                    top: 100px;
                    right: 60px;
                    text-align: center;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF;
                        margin-bottom: 11.97px;  
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }
                }
                &--app {
                    position: absolute;
                    top: 100px;
                    right: 55px;
                    text-align: center;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF; 
                        margin-bottom: 11.97px; 
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }
                }
                &--graphic {
                    position: absolute;
                    top: 100px;
                    right: 36.5px;
                    text-align: center;
                    h2 {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 1.4px;
                        color: #FFFFFF; 
                        margin-bottom: 11.97px; 
                    }
                    h3{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 5px;
                        color: #FFFFFF;
                        span {
                            padding-left: 16px;
                            color: #E7816B;
                        }
                    }
                }
                
            } 
        }
    }
    .section__icons{
        padding-top: 120px;
        width: 375px;
        article {
            padding-bottom: 80px;
            .container__img{
                margin: 0 auto;
                width: 202px;
                height: 202px;
                padding-bottom: 48px; 
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover; 
                }  
            }
            .container__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 5px;
                    color: #333136;
                    margin-bottom: 32px;
                }
                p {
                    width: 327px;
                    height: 104px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #333136;
                    text-align: center;
                }
            }
        } 
    }
}

body {
    @media (min-width: 768px) {
        .section__frame {
            width: 689px; 
            .container__text {
                width: 573px;
                padding-top: 60px;
                h1 {
                    font-size: 48px;
                    line-height: 48px;
                    margin-bottom: 25px;
                }
                p {
                    width: 445px;
                    text-align: center;
                    margin-right: 0;
                    font-size: 16px;
                    line-height: 26px;
                    margin: 0 auto;
                    margin-bottom: 19px;
                }
            }
        }
        .section__design {
            width: 689px;
            padding: 120px 0 120px 0;
        }

        .section__icons {
            width: 689px;
            padding: 0;
            article {
                height: 202px;
                padding: 0;
                margin-bottom: 32px;
                display: flex;
                flex-direction: row;
                gap: 48px; 
                .container__img {
                    margin: 0;
                    padding: 0;
                }
                .container__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 439px;
                    h3 {
                        margin-bottom: 16px;
                        text-align: left;
                    }
                    p {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

    @media (min-width: 1440px) {
        .section__frame {
            width: 1111px;
            display: flex;
            flex-direction: row;
            border-radius: 15px;
        }

        .section__icons {
            min-width: 1111px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 500px;
                .container__text {
                    p{
                        width: 350px;
                        text-align: center;
                    }
                }
            }
        }
    }

}

  